/* --- TIPOGRAFIAS --- */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Homemade+Apple&display=swap');

/* --- VARIABLES --- */

:root{
  --colorPrincipal: #31757beb;
  --colorSecundario:#143e77;
  --colorNeutroPrincipal: white;
  --colorNeutroPrincipalTransparency: #ffffffcc;
  --colorNeutroSecundario:  black;
  --colorNeutroSecundarioTransparency:#cececeb5;


  --fontFamilyPrincipal: 'Calibri', cursive;
}

/* --- GENERAL --- */
body{ width: 100%; margin: 0px;}

p{margin: 0px;}

.centrado{text-align: center;}

/*TITULO*/
#tituloWeb{
	font-family: var(--fontFamilyPrincipal);
	font-size: 64px;
}

/*MENU*/
.navbar-light:hover .navbar-nav:hover  .nav-link:hover  {
    color: var(--colorNeutroPrincipal);
    background-color: var(--colorNeutroSecundario);
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
	background-color: var(--colorNeutroPrincipalTransparency)!important;
    position: sticky;
    top: 0px;
    z-index: 100;
}

/*PIE DE PAGINA*/

footer{
	color: var(--colorNeutroPrincipal);
	background-color: var(--colorNeutroSecundario);
	margin: 50px 0px 0px 0px;
	padding: 25px;
}


/* --- HOME --- */
#presentaHome{
	background-color: var(--colorNeutroSecundarioTransparency);
	position: relative;
	transition: background-color 3s;
}

#seccionImg:hover ~ #presentaHome{
	background-color: var(--colorPrincipal);
}

#seccionImg{
	display: block;
    margin: 0px 6vw;
    filter: grayscale(1);
    transition: filter 2s;
	overflow: hidden;
}

#seccionImg:hover{filter: grayscale(0);}

#fraseHome{
	font-family: 'Gochi Hand', cursive;
	font-size: 22px;
	color: var(--colorNeutroPrincipal);
	z-index: 1;
	padding: 20px 5px 10px 5px;
}
#autorHome{
	font-family: 'Homemade Apple', cursive;
	font-size: 22px;
	z-index: 2;
	padding: 15px 0px 10px 0px;
}


/* --- ABOUT --- */ 

/* --- PORTFOLIO ---- */

.contentBlock{
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	align-content: stretch;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    grid-auto-flow: column;
}

.imgPortfolio{
	opacity: 0.9;
	filter: grayscale(100%);
	transition: filter opacity 5s;
}

.imgPortfolio:hover{
	opacity: 1;
	filter: drop-shadow(2px 4px 6px gray);
}

/* --- CONTACTO --- */

label{
	color: var(--colorPrincipal); 
	font-weight: 700;
	padding: 20px 0px;
}
textarea{resize:none;}

.btn-success {
    color: var(--colorNeutroPrincipal);
    background-color: var(--colorPrincipal);
    border-color: var(--colorPrincipal);
}

.btn-info {
    color: var(--colorNeutroPrincipal);
    background-color: var(--colorSecundario);
    border-color: var(--colorSecundario);
}





/* --- ADAPTACION A OTRAS PANTALLAS --- */


@media only screen and (max-width:425px) {

	/* --- GENERAL --- */
	header{margin-top: 3vh;}
	main{max-height: auto;}

	/* --- HOME --- */
	#presentaHome {
	    background-color: var(--colorPrincipal);
	    margin: -100px 25px 10px 25px;
	    position: relative;
	}
	#seccionImg{margin: 0px 0px;}
	div#seccionImg > img{
	    width: 200vw;
	    position: relative;
	    left: -50vw;
	}

	/* --- ABOUT --- */
	#sectionAbout {
	    display: block;
	    text-align: justify;
	}
	#imgAbout {
	    text-align: center;
	    width: 100vw;
	}
	#myImgAbout {
	    text-align: center;
	    width: 100vw;
	}
	#presentaAbout {margin: 20px;}

	/* --- PORTFOLIO --- */

	.contentBlock{
		display: block;
	}

	.imgPortfolio { 
	    max-width: 90vw;
	    margin: 5px;
	}

	/* --- CONTACTO --- */

	form {
	    display: grid;
	    margin: 20px 30px;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
	    justify-items: stretch;
	}
}

@media only screen and (min-width: 426px) and (max-width: 1023px){

	/* --- GENERAL --- */

	header{margin-top: 5vh;}

	main{
		min-height: 70vh;
		margin-top: 5vh;
	}

	/* --- HOME --- */

	#presentaHome {
    	margin: -50px 10vh 10vh 10vh;
	}
	
	#seccionImg {margin: 0px 0px;}

	div#seccionImg > img{width: 100vw;}

	/* --- ABOUT --- */

	#sectionAbout {
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: center;
	    flex-direction: row;
	    align-content: center;
	    align-items: center;
	}

	img#myImgAbout {
	    max-width: 40vw;
	}

	/* --- PORTFOLIO --- */

	.contentBlock{
		grid-template-columns: 45vw 45vw;
		grid-template-rows: auto;
	}

	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }
	.div3 { grid-area: 2 / 1 / 2 / 3; }
	.div4 { grid-area: 3 / 1 / 3 / 2; }
	.div5 { grid-area: 3 / 2 / 3 / 3; }
	.div6 { grid-area: 4 / 1 / 4 / 3; }
	.div7 { grid-area: 5 / 1 / 5 / 3; }

	.imgPortfolio{
		width: 100%;
		margin: 2px;
	}

}


@media only screen and (min-width: 1024px) {

	/* --- GENERAL --- */

	header{margin-top: 5vh;}

	main{
		min-height: 75vh;
		margin-top: 2vh;
	}

	/* Menu */

	.navbar-expand-lg .navbar-collapse {
	    display: flex!important;
	    flex-basis: auto;
	    justify-content: center;
	}


	/* --- HOME --- */

	#presentaHome {margin: -80px 20vh 10vh 20vh;}

	div#seccionImg > img{width: 85vw;}

	/* --- ABOUT --- */

	#sectionAbout {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: flex-start;
	    align-content: center;
	}

	img#myImgAbout {
	    max-width: 25vw;
	}

	/* --- PORTFOLIO --- */

	.contentBlock{
		grid-template-columns: 25vw 25vw 25vw;
		grid-template-rows: auto;
	}

	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 3 / 2 / 3; }
	.div3 { grid-area: 2 / 3 / 2 / 4; }
	.div4 { grid-area: 1 / 2 / 2 / 2; }
	.div5 { grid-area: 2 / 1 / 2 / 2; }
	.div6 { grid-area: 2 / 2 /3 / 3;  }
	.div7 { grid-area: 3 / 2 /4 / 3;  }

	.imgPortfolio{
		width: 100%;
		margin: 2px;
	}

	/*CONTACTO*/

	form {
	    display: grid;
	    margin: 3vh 25vh;
	    padding: 3vh;
	}

}
	

