/* --- TIPOGRAFIAS --- */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Homemade+Apple&display=swap');


/* --- GENERAL --- */
body{ width: 100%; margin: 0px;}

main{border-bottom: 2px solid #000;}

p{margin: 0px;}

.centrado{text-align: center;}

/*TITULO*/
#tituloWeb{
	font-family: 'Calibri', cursive;
	font-size: 64px;
}

/*MENU*/
nav{
	display: inline;
}

.container-fluid{
	background-color: #ffffffcc;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: center;
}

a{
	text-decoration: none;
	color: black;
	font-family: 'Calibri', cursive;
}
ul{
	list-style-type: none;
	position: sticky;
    top: 0px;
    background-color: white;
    padding: 15px 0px;
	z-index: 999;
}

li{
	padding: 0px 10px;
	text-decoration: none;
	display: inline;
}

.navbar-light:hover .navbar-nav:hover  .nav-link:hover  {
    color: white;
    background-color: black;
}

/*PIE DE PAGINA*/

footer{
	color: white;
	background-color: #000;
	margin: 0px;
	padding: 25px;
}


/* --- HOME --- */
#presentaHome{
	background-color: #cececeb5;
	position: relative;
	transition: background-color 3s;
}

#seccionImg:hover ~ #presentaHome{
	background-color: #31757beb;
}

#seccionImg{
	display: block;
    margin: 0px 6vw;
    filter: grayscale(1);
    transition: filter 2s;
	overflow: hidden;
}


#seccionImg:hover{filter: grayscale(0);}

#fraseHome{
	font-family: 'Gochi Hand', cursive;
	font-size: 22px;
	color: white;
	z-index: 1;
	padding: 20px 5px 10px 5px;
}
#autorHome{
	font-family: 'Homemade Apple', cursive;
	font-size: 22px;
	z-index: 2;
	padding: 15px 0px 10px 0px;
}


/* --- ABOUT --- */ 

div#imgAbout {
    text-align: center;
}

div#accordion {
    margin-bottom: 50px;
}


/* --- PORTFOLIO ---- */

#contentPortfolio{
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	align-content: stretch;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    grid-auto-flow: column;
}


/* --- CONTACTO --- */

label{
	color: #31757beb; 
	font-weight: 700;
	padding: 20px 0px;
}
textarea{resize:none;}

.btn-success {
    color: #fff;
    background-color: #31757bb5;
    border-color: #31757beb;
}

.btn-info {
    color: #fff;
    background-color: #143e77;
    border-color: #143e77;
}

/* --- ADAPTACION A OTRAS PANTALLAS --- */


@media only screen and (max-width: 425px) {

	/* --- GENERAL --- */
	header{margin-top: 3vh;}
	main{max-height: auto;}

	/* --- HOME --- */
	#presentaHome {
	    background-color: #31757bb8;
	    margin: -100px 25px 10px 25px;
	    position: relative;
	}
	#seccionImg{margin: 0px 0px;}
	div#seccionImg > img{
	    width: 200vw;
	    position: relative;
	    left: -50vw;
	}

	/* --- ABOUT --- */
	#sectionAbout {
	    display: block;
	    text-align: justify;
	}
	#imgAbout {
	    text-align: center;
	    width: 100vw;
	}
	#myImgAbout {
	    text-align: center;
	    width: 100vw;
	}
	#presentaAbout {margin: 20px;}

	/* --- PORTFOLIO --- */

	#contentPortfolio{display: inline;}

	.imgPortfolio { 
	    max-width: 90vw;
	    margin: 5px;
	}

	/* --- CONTACTO --- */

	form {
	    display: grid;
	    margin: 20px 30px;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
	    justify-items: stretch;
	}
}

@media only screen and (min-width: 426px) and (max-width: 1023px){

	/* --- GENERAL --- */

	header{margin-top: 5vh;}

	main{
		min-height: 70vh;
		margin-top: 5vh;
	}

	/* --- HOME --- */

	#presentaHome {
    	margin: -50px 10vh 10vh 10vh;
	}
	
	#seccionImg {margin: 0px 0px;}

	div#seccionImg > img{width: 100vw;}

	/* --- ABOUT --- */

	#sectionAbout {
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: center;
	    flex-direction: row;
	    align-content: center;
	    align-items: center;
	}

	img#myImgAbout {
	    max-width: 40vw;
	}

	/* --- PORTFOLIO --- */

	#contentPortfolio{
		grid-template-columns: 45vw 45vw;
		grid-template-rows: auto;
	}

	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }
	.div3 { grid-area: 2 / 1 / 2 / 3; }
	.div4 { grid-area: 3 / 1 / 3 / 2; }
	.div5 { grid-area: 3 / 2 / 3 / 3; }
	.div6 { grid-area: 4 / 1 / 4 / 3; }
	.div7 { grid-area: 5 / 1 / 5 / 3; }

	.imgPortfolio{
		width: 100%;
		margin: 2px;
	}

}


@media only screen and (min-width: 1024px) {

	/* --- GENERAL --- */

	header{margin-top: 5vh;}

	main{
		min-height: 75vh;
		margin-top: 2vh;
	}

	/* --- HOME --- */

	#presentaHome {margin: -80px 20vh 10vh 20vh;}

	div#seccionImg > img{width: 85vw;}

	/* --- ABOUT --- */

	#sectionAbout {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: flex-start;
	    align-content: center;
	}

	img#myImgAbout {
	    max-width: 25vw;
	}

	/* --- PORTFOLIO --- */

	#contentPortfolio{
		grid-template-columns: 25vw 25vw 25vw;
		grid-template-rows: auto;
	}

	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 3 / 2 / 3; }
	.div3 { grid-area: 2 / 3 / 2 / 4; }
	.div4 { grid-area: 1 / 2 / 2 / 2; }
	.div5 { grid-area: 2 / 1 / 2 / 2; }
	.div6 { grid-area: 2 / 2 /3 / 3;  }
	.div7 { grid-area: 3 / 2 /4 / 3;  }

	.imgPortfolio{
		width: 100%;
		margin: 2px;
	}

	/*CONTACTO*/

	form {
	    display: grid;
	    margin: 3vh 25vh;
	    padding: 3vh;
	}

}
	

