
  $colorPrincipal: #31757beb;
  $colorSecundario:#143e77;
  $colorNeutroPrincipal: white;
  $colorNeutroPrincipalTransparency: #ffffffcc;
  $colorNeutroSecundario:  black;
  $colorNeutroSecundarioTransparency:#cececeb5;


  $fontFamilyPrincipal: 'Calibri', cursive;
  $fontFamilyResalte: 'Gochi Hand', cursive;
  $fontFamilyResalteSecundaria:'Homemade Apple', cursive;

.centrado{text-align: center;}


.tituloWeb{
  font-family: $fontFamilyPrincipal;}

.tituloWeb_big{
  @extend .tituloWeb;
  font-size: 64px;
}

#presentaHome{
  background-color: $colorNeutroSecundarioTransparency;
  position: relative;
  transition: background-color 3s;
}

#seccionImg:hover ~ #presentaHome{
  background-color: $colorPrincipal;
}

#seccionImg{
  display: block;
    margin: 0px 6vw;
    filter: grayscale(1);
    transition: filter 2s;
  overflow: hidden;
}

#seccionImg:hover{filter: grayscale(0);}

.text-cita{
  font-family: $fontFamilyResalte;
  color: $fontFamilyResalte;
  z-index: 1;
}

.text-cita_big{
  @extend .text-cita;
  font-size: 22px;
  padding: 20px 5px 10px 5px;
}

.text-author{
  font-family: $fontFamilyResalteSecundaria;
  z-index: 2;
}

.text-author_big{
  @extend .text-author;
  font-size: 22px;
  padding: 15px 0px 10px 0px;
}